@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

header {
  font-family: "Shrikhand";
}

main {
  font-family: "Roboto";
}
body {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: black;
}
.footer {
  h4 {
    font-family:"Shrikhand" ;
  }
}