.explorer--button:hover {
    transform: scale(1.1);
    opacity: 0.95;
  }

.menu-choix-content:hover {
    transform: scale(1.05);
    color: #9356dc;
    opacity: 0.95;
  }
  .restaurants-carte-choix:hover {
    transform: scale(1.05);
    opacity: 0.95;
  }